<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smiling</key>
	<string>face_smilea_thumb</string>
	<key>flushed</key>
	<string>face_tootha_thumb</string>
	<key>laughing</key>
	<string>face_laugh</string>
	<key>loving</key>
	<string>face_lovea_thumb</string>
	<key>dizzy</key>
	<string>face_dizzya_thumb</string>
	<key>hungry</key>
	<string>face_cza_thumb</string>
	<key>mad</key>
	<string>face_crazya_thumb</string>
	<key>displeased</key>
	<string>face_hatea_thumb</string>
	<key>hugging</key>
	<string>face_bba_thumb</string>
	<key>beingCute</key>
	<string>face_tza_thumb</string>
	<key>angry</key>
	<string>face_angrya_thumb</string>
	<key>sweaty</key>
	<string>face_sweata_thumb</string>
	<key>spleepy</key>
	<string>face_sleepya_thumb</string>
	<key>shy</key>
	<string>face_shamea_thumb</string>
	<key>sleeping</key>
	<string>face_sleepa_thumb</string>
	<key>greedy</key>
	<string>face_money_thumb</string>
	<key>tittering</key>
	<string>face_heia_thumb</string>
	<key>playingCool</key>
	<string>face_cool_thumb</string>
	<key>shocked</key>
	<string>face_cry</string>
	<key>startled</key>
	<string>face_cj_thumb</string>
	<key>gagged</key>
	<string>face_bz_thumb</string>
	<key>despising</key>
	<string>face_bs2_thumb</string>
	<key>pickingNose</key>
	<string>face_kbsa_thumb</string>
	<key>obsessed</key>
	<string>face_hsa_thumb</string>
	<key>clappingHands</key>
	<string>face_gza_thumb</string>
	<key>disappointed</key>
	<string>face_sw_thumb</string>
	<key>thinking</key>
	<string>face_sk_thumb</string>
	<key>sick</key>
	<string>face_sb_thumb</string>
	<key>kissing</key>
	<string>face_qq_thumb</string>
	<key>scolding</key>
	<string>face_nm_thumb</string>
	<key>thrilled</key>
	<string>face_mb_thumb</string>
	<key>scorning</key>
	<string>face_ldln_thumb</string>
	<key>ignore_right</key>
	<string>face_yhh_thumb</string>
	<key>ignore_left</key>
	<string>face_zhh_thumb</string>
	<key>hush</key>
	<string>face_x_thumb</string>
	<key>grievance</key>
	<string>face_wq_thumb</string>
	<key>vomiting</key>
	<string>face_t_thumb</string>
	<key>pathetic</key>
	<string>face_kl_thumb</string>
	<key>yawn</key>
	<string>face_k_thumb</string>
	<key>puzzled</key>
	<string>face_yw_thumb</string>
	<key>wink</key>
	<string>zgl_thumb</string>
	<key>handshake</key>
	<string>ws</string>
	<key>victory</key>
	<string>face_ye_thumb</string>
	<key>good</key>
	<string>face_good_thumb</string>
	<key>bad</key>
	<string>face_sad_thumb</string>
	<key>denying</key>
	<string>face_no_thumb</string>
	<key>ok</key>
	<string>face_ok_thumb</string>
	<key>praising</key>
	<string>face_z2_thumb</string>
	<key>summoning</key>
	<string>face_come_thumb</string>
	<key>cake</key>
	<string>face_cake</string>
	<key>heart</key>
	<string>face_hearta_thumb</string>
	<key>heartbreak</key>
	<string>face_unheart</string>
	<key>clock</key>
	<string>face_clock_thumb</string>
	<key>pig</key>
	<string>face_pig</string>
	<key>microphone</key>
	<string>face_m_thumb</string>
	<key>moonlight</key>
	<string>moonlight</string>
	<key>sunny</key>
	<string>sunny</string>
	<key>rainy</key>
	<string>rainy</string>
	<key>clouds</key>
	<string>face_fuyun_thumb</string>
	<key>crying</key>
	<string>face_sada_thumb</string>
</dict>
</plist>
