<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>呵呵</key>
	<string>face_smilea_thumb</string>
	<key>嘻嘻</key>
	<string>face_tootha_thumb</string>
	<key>哈哈</key>
	<string>face_laugh</string>
	<key>爱你</key>
	<string>face_lovea_thumb</string>
	<key>晕</key>
	<string>face_dizzya_thumb</string>
	<key>馋嘴</key>
	<string>face_cza_thumb</string>
	<key>抓狂</key>
	<string>face_crazya_thumb</string>
	<key>哼</key>
	<string>face_hatea_thumb</string>
	<key>抱抱</key>
	<string>face_bba_thumb</string>
	<key>可爱</key>
	<string>face_tza_thumb</string>
	<key>怒</key>
	<string>face_angrya_thumb</string>
	<key>汗</key>
	<string>face_sweata_thumb</string>
	<key>困</key>
	<string>face_sleepya_thumb</string>
	<key>害羞</key>
	<string>face_shamea_thumb</string>
	<key>睡觉</key>
	<string>face_sleepa_thumb</string>
	<key>钱</key>
	<string>face_money_thumb</string>
	<key>偷笑</key>
	<string>face_heia_thumb</string>
	<key>酷</key>
	<string>face_cool_thumb</string>
	<key>衰</key>
	<string>face_cry</string>
	<key>吃惊</key>
	<string>face_cj_thumb</string>
	<key>闭嘴</key>
	<string>face_bz_thumb</string>
	<key>鄙视</key>
	<string>face_bs2_thumb</string>
	<key>挖鼻屎</key>
	<string>face_kbsa_thumb</string>
	<key>花心</key>
	<string>face_hsa_thumb</string>
	<key>鼓掌</key>
	<string>face_gza_thumb</string>
	<key>失望</key>
	<string>face_sw_thumb</string>
	<key>思考</key>
	<string>face_sk_thumb</string>
	<key>生病</key>
	<string>face_sb_thumb</string>
	<key>亲亲</key>
	<string>face_qq_thumb</string>
	<key>怒骂</key>
	<string>face_nm_thumb</string>
	<key>太开心</key>
	<string>face_mb_thumb</string>
	<key>懒得理你</key>
	<string>face_ldln_thumb</string>
	<key>右哼哼</key>
	<string>face_yhh_thumb</string>
	<key>左哼哼</key>
	<string>face_zhh_thumb</string>
	<key>嘘</key>
	<string>face_x_thumb</string>
	<key>委屈</key>
	<string>face_wq_thumb</string>
	<key>吐</key>
	<string>face_t_thumb</string>
	<key>可怜</key>
	<string>face_kl_thumb</string>
	<key>打哈气</key>
	<string>face_k_thumb</string>
	<key>顶</key>
	<string>d_thumb</string>
	<key>疑问</key>
	<string>face_yw_thumb</string>
	<key>做鬼脸</key>
	<string>zgl_thumb</string>
	<key>握手</key>
	<string>ws</string>
	<key>耶</key>
	<string>face_ye_thumb</string>
	<key>强</key>
	<string>face_good_thumb</string>
	<key>弱</key>
	<string>face_sad_thumb</string>
	<key>不要</key>
	<string>face_no_thumb</string>
	<key>好的</key>
	<string>face_ok_thumb</string>
	<key>赞</key>
	<string>face_z2_thumb</string>
	<key>来</key>
	<string>face_come_thumb</string>
	<key>蛋糕</key>
	<string>face_cake</string>
	<key>心</key>
	<string>face_hearta_thumb</string>
	<key>伤心</key>
	<string>face_unheart</string>
	<key>钟</key>
	<string>face_clock_thumb</string>
	<key>猪头</key>
	<string>face_pig</string>
	<key>话筒</key>
	<string>face_m_thumb</string>
	<key>月亮</key>
	<string>moonlight</string>
	<key>太阳</key>
	<string>sunny</string>
	<key>下雨</key>
	<string>rainy</string>
	<key>浮云</key>
	<string>face_fuyun_thumb</string>
	<key>泪</key>
	<string>face_sada_thumb</string>
</dict>
</plist>
